<ion-header>
  <ion-navbar color="rojito">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Rent and Mend</ion-title>
    <ion-buttons end *ngIf="!mediaProvider.loggedIn">
      <button ion-button end color="danger" (click)="signIn()">
        <ion-icon name="log-in"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
</ion-content>

<ion-content class="card-background-page categories">

  <ion-card *ngFor="let category of categories" (click)="pushCategory(category.key)">
    <img [src]="category.image" />
    <div class="title">
      <div class="card-title">{{category.name}}</div>
      <!-- <div class="card-subtitle">{{category.subcategory}}</div> -->
    </div>
  </ion-card>

</ion-content>
