page-user {

  ion-card{
    position: relative;
    height:180px;
  }

  .avatar {
    width: 135px;
    height: 130px;
    border-radius: 100%;
    position: absolute;
  }

  info {
    padding-top: 4px;
  }

  /* Profile edit button */
  .edit-button {
    background: #ffffff;
    border: 1px solid #ccc;
    font-size: 13px;
    font-weight: bold;
    border-radius: 3px;
    width: 90%;
  }

  .profile-name{
    font-size: 17px;
    padding: 5px;
    font-weight: bold;
  }

  .edit-button:active {
    border-color: #dce2ed;
  }


  .myBtn{
    width: 150px;
    height: 50px;

  }
}
