page-user {

  ion-avatar img {
    width: 165px;
    height: 160px;
    margin: auto;
  }
  img {
    object-fit: cover;
  }

  ion-thumbnail {
    position: relative;

    ion-icon {
      position: absolute;
      color: #fff;
      top: 0;
      padding: 0.5rem;
      text-shadow: 0px 0px 3px #000000;;
    }
  }
}
