<!--
  Generated template for the ProductDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="rojito">
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="product-title">{{ product.title }}</div>
  <ionic3-star-rating
    activeColor="#ffea00"
    defaultColor="#b0bec5"
    readonly="true"
    [rating]="rating">
  </ionic3-star-rating>
  <ion-badge color="{{ product.status | productStatusColor }}">{{ product.status | productStatus }}</ion-badge>
  <div class="product-image" [style.background-image]="'url(' + product.image + ')'"></div>
  <div>
    <div class="product-price">€ {{ product.price | number: 0 }}</div>
    <button ion-button class="contact-owner" *ngIf="mediaProvider.loggedIn"><a [href]="'mailto:' + productOwner.email">Ask for details</a></button>
  </div>
  <p class="product-description">{{ product.description }}</p>
  <div class="rate-product" *ngIf="mediaProvider.loggedIn">
    <label>{{isRated ? 'You rated this product:' : 'Rate this product'}}</label>
    <ionic3-star-rating *ngIf="!isRated"
                        activeColor="#ffea00"
                        defaultColor="#b0bec5"
                        readonly="false"
                        [rating]="myRating">
    </ionic3-star-rating>
    <ionic3-star-rating *ngIf="isRated"
                        activeColor="#ffea00"
                        defaultColor="#b0bec5"
                        readonly="true"
                        [rating]="myRating">
    </ionic3-star-rating>
  </div>
  <ion-card class="product-owner" *ngIf="mediaProvider.loggedIn">
    <ion-card-header>
      This product is brought to you by:
    </ion-card-header>
    <ion-card-content>
      <div class="product-owner-info">
        <img class="avatar" [src]="'profile' | getUser | async | thumbnail: 'small' | async"/>
        <div class="user-details">{{ (productOwner | async)?.full_name }}</div>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card class="product-owner" *ngIf="!mediaProvider.loggedIn">
    <ion-card-header>
      Looking for more details and owner's contact?
    </ion-card-header>
    <ion-card-content>
      <div class="product-owner-info">
        <div class="user-details">Please <a (click)="navCtrl.parent.select(2)">login</a></div>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card class="map">
      <google-map></google-map>
  </ion-card>

  <h6>Comments</h6>
  <div class="comments-section">
    <div>
      <textarea class="my-comment" placeholder="What do you think about this product?" rows="2"
                [(ngModel)]="myComment"></textarea>
      <button ion-button raised type="button" (click)="addComment()">Send</button>
    </div>
    <ion-list class="comments-list">
      <ion-item *ngFor="let comment of comments | sort: 'comment'" class="comment">
        <ion-avatar item-start>
          <img class="avatar" [src]="comment.user_id | getUserAvatar | async | thumbnail: 'small' | async"/>
        </ion-avatar>
        <div class="comment-right">
          <div class="name">{{ comment.full_name || comment.username }}</div>
          <div class="text">{{ comment.comment }}</div>
        </div>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

