page-products {
  .products-list {
    h2.product-title {
      font-weight: bold;
    }
    ion-item {
      height: 115px;
      ion-thumbnail {
        .product-image {
          width: 100%;
          height: 90px;
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          margin: 0 auto;
        }
      }
      .product-description {
        height: 36px;
        width: 90%;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 14px;
        span {
          white-space: pre-wrap;
        }
      }
    }
  }
}
