page-products {
  .products-list {
    h2.product-title {
      font-weight: bold;
    }
    ion-thumbnail {
      img {
        width: auto;
        margin: 0 auto;
      }
    }
    .product-description {
      height: 36px;
      width: 90%;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 14px;
      span {
        white-space: pre-wrap;
      }
    }
  }
}
